In [68]:
import pandas as pd

In [69]:
df= pd.read_csv('speed_dating_data.csv')
df

,gender,age,income,goal,career,dec,attr,sinc,intel,fun,amb,shar,like,prob,met
0,0,21.0,69487.0,2.0,lawyer,1,6.0,9.0,7.0,7.0,6.0,5.0,7.0,6.0,2.0
1,0,21.0,69487.0,2.0,lawyer,1,7.0,8.0,7.0,8.0,5.0,6.0,7.0,5.0,1.0
2,0,21.0,69487.0,2.0,lawyer,1,5.0,8.0,9.0,8.0,5.0,7.0,7.0,NaN,1.0
3,0,21.0,69487.0,2.0,lawyer,1,7.0,6.0,8.0,7.0,6.0,8.0,7.0,6.0,2.0
4,0,21.0,69487.0,2.0,lawyer,1,5.0,6.0,7.0,7.0,6.0,6.0,6.0,6.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,1,25.0,NaN,1.0,assistant master of the universe (otherwise it...,0,3.0,5.0,5.0,5.0,NaN,NaN,2.0,5.0,0.0
8374,1,25.0,NaN,1.0,assistant master of the universe (otherwise it...,0,4.0,6.0,8.0,4.0,4.0,NaN,4.0,4.0,0.0
8375,1,25.0,NaN,1.0,assistant master of the universe (otherwise it...,0,4.0,7.0,8.0,8.0,8.0,NaN,6.0,5.0,0.0
8376,1,25.0,NaN,1.0,assistant master of the universe (otherwise it...,0,4.0,6.0,5.0,4.0,NaN,5.0,5.0,5.0,0.0
8377,1,25.0,NaN,1.0,assistant master of the universe (otherwise it...,0,3.0,7.0,6.0,4.0,8.0,1.0,4.0,5.0,0.0

In [70]:
df.columns #target: dec, features: income, attr, sinc, intel, fun, amb,

Index(['gender', 'age', 'income', 'goal', 'career', 'dec', 'attr', 'sinc',
       'intel', 'fun', 'amb', 'shar', 'like', 'prob', 'met'],
      dtype='object')

In [110]:
df['career'].unique()

array(['lawyer', 'law', 'Economist', 'lawyer/policy work', 'Law',
       'Journalist', 'Congresswoman, and comedian',
       'To create early childhood intervention programs',
       'Academia, Research, Banking, Life', 'Corporate Lawyer', 'Lawyer',
       'Corporate attorney', 'research/financial industry',
       'academics or journalism', 'Financial Services', 'ceo', 'CEO',
       'Undecided', 'Informatics', 'psychologist',
       'health/nutrition oriented social worker', 'Social Worker',
       'Social work with children', 'Speech Language Pathologist', nan,
       'Social Work Administration', 'Professor', "Clidren's TV",
       'Banking', 'Capital Markets', 'Biostatistics',
       'Organizational Change Consultant', 'tech professional',
       'Engineer', 'Academic', 'academia', 'banker / academia', 'banker',
       'Music production', 'Entrepreneur',
       'Intellectual Property Attorney', 'Medicine', 'consulting',
       'LAWYER', 'social worker', 'comedienne', 'attorney',
       'Social Worker.... Clinician', 'Private Equity Investing',
       'Lawyer or professional surfer', 'novelist', 'Investment Banking',
       'Pro Beach Volleyball', 'Engineer or iBanker or consultant',
       'Trading', 'Ph.D. Electrical Engineering', 'teacher',
       'Counseling Adolescents', 'Operations Research',
       'industrial scientist', 'Journalism', 'teaching and then...',
       'Economic research', 'pharmaceuticals', 'Social Services/ Policy',
       'Professor of Media Studies', 'Clinical Social Worker',
       "I don't know", 'Microfinancing Program Manager',
       'Education Administration', 'Marketing',
       'Business - Investment Management', 'Academic or Research staff',
       'University Professor', 'Finance', 'Research Scientist',
       'business', 'research in industry or academia',
       'Teacher/Professor', 'Engineering', 'film', 'Writer',
       'Social work', 'What a question!', 'if only i knew',
       'Marketing, Advertising', 'lawyer/gov.position',
       'no idea, maybe a professor', 'Cardiologist', 'Law or finance',
       'Pediatrics', 'medicine', 'Porn Star', 'Mechanical Engineering',
       'entrepeneur', "don't know", 'Not Sure', 'Asset Management',
       'a research position', 'professor', 'teaching', 'Real Estate',
       'investment banking', 'engineering professional', 'MBA',
       'research', 'Neuroscientist/Professor', 'Education', 'Business',
       'Professor and Government Official',
       'international development work', 'finance', 'Nonprofit',
       'Marketing and Media', 'Brand Management',
       'physicist, probably academia', 'Real Estate/ Private Equity',
       'undecided', 'pharmaceuticals and biotechnology',
       'college art teacher', 'academic', 'TBA',
       'Research scientist, professor', 'Physician Scientist',
       'Management Consulting', 'management consulting', 'health policy',
       'academics', 'financial service or fashion', 'academic research',
       'Epidemiologist', 'boxing champ', 'International Business',
       'Paper Back Writer', 'academician', 'Child Rights',
       'Development work on field in the middle of nowhere',
       'Private Equity', 'Investment Management', 'Psychologist',
       'professional student', 'education', 'Development work',
       'Historian', 'International Development', 'college professor',
       'marketing / brand management', 'UN Civil Servant', 'IP Law',
       'Biotech/business', 'Country Analysis/Research/Credit Analysis',
       'scientific research', 'Humanitarian Affairs/Human Rights',
       'Consulting', 'Academic Physician', 'Researcher',
       'Poet, Writer, Singer, Policy Maker with the UN and/or Indian Govt.',
       'Professor or Consultant', 'History Professor', 'Hero',
       'Entertainment/Sports', 'corporate finance',
       'CEO in For Profit Biomedical Organization',
       'International affairs related career', 'public service',
       'banking', 'Educational Policy', 'elementary school teacher',
       'Research/Teaching', 'WRITING', 'manage a museum or art gallery',
       'Conservation training and education', 'Entertainment/Media',
       'president', 'researcher in sociology', 'Management Consultant',
       'Academic (Law)', 'scientist', 'Naturalist', 'Trader',
       'Wall Street Economist', 'professor, poet/critic', 'Am not sure',
       'researcher/academia', 'nutrition and dental', 'Physician',
       'Art educator and Artist', 'Teacher', 'Scientist',
       'Scientist/educator', 'scientific research for now but who knows',
       'Who knows', 'College Professor', 'Professor or Lawyer',
       'dietician', 'Social Work',
       'research position in pharmaceutical industry', 'Academia',
       'research/academia', 'enterpreneur', 'Industry CTO/CEO',
       'Film/Television', 'finance or engineering', 'Writing',
       'Venture Capital/Consulting/Government', 'doctor and entrepreneur',
       "Int'l Business", 'Pharmaceuticals/Consulting',
       'Secondary Education Teacher',
       'High School Social Studies Teacher', 'Education Policy Analyst',
       'Literacy Organization head/ Director of Development for non-profit',
       'English Teacher', 'Program development / policy work',
       'professor of education', 'speech pathologist', 'Educator',
       'Speech Pathologist', 'teaching/education', 'professor in college',
       'Academia; Research; Teaching', 'curriculum developer', '?',
       'Museum Work (Curation?)', 'Music Industry',
       'academic or consulting', 'Academia or UN', 'Investment banking',
       'International Development banker',
       'Corporate Finance, Asset Management/ Hedge Funds',
       'I am a teacher.', 'Professor or journalist',
       'to get Ph.D and be a professor', 'school psychologist',
       'School Psychologist', 'not sure yet :)',
       'Early Childhood Ed. - College/univ. faculity',
       'medical examiner or researcher', 'Healthcare',
       'Architecture and design', 'Civil Engineer',
       'Real Estate Consulting', 'University President',
       'Security Policy - Homeland Defense', 'Nutritionist', 'GOVERNOR',
       'EDUCATION ADMINISTRATION', 'Director of Training and Development',
       'Private practice Dietician', 'music educator, performer',
       'Artist', 'Clinical Psychology', 'Clinical Psychologist',
       'Marketing or Strategy and Business Development',
       'reorganizing society. no, I am not being flip.', 'Make money',
       'Art Management', 'Political Development in Africa',
       'clinical psychologist, researcher, professor', 'Intl Development',
       'Business Consulting', 'CONSULTING', 'still wondering',
       'investment management', 'Finance Related',
       'Media Marketing/Entrepreneurship', 'film directing',
       'Screenwriter', 'Filmmaker', 'Director of Admissions',
       'Elementary Education Teaching', 'School Counseling', 'attorney?',
       'Writer/teacher', 'Writing or Editorial', 'writer/editor',
       'producer at a non-profit regional theatre',
       'Consultin \\ Management',
       'Financial Mathematics-Investment Bank or Hedge Fund-Derivatives Quant Analyst',
       'Work in an investment bank', "Diplomat / Int'l civil servant",
       'Diplomat/Business', 'research - teaching', 'M&A Advisory',
       'millionaire', 'Social Work Policy', 'Fundraising for Non-Profits',
       'Money Management', 'Research', 'General Management', 'Lobbyist',
       'Energy', 'Elementary school teacher', 'Public School Principal',
       'Trade Specialist', 'Bilingual Elementary School Teacher',
       'Corporate law', 'tax lawyer',
       'Economic Policy Advisor on Latin America', 'Media Management',
       'Energy Management', 'Public Finance', 'Business Management',
       'Business/Law', 'Diplomat', 'private equity',
       'Health care finance', 'writer', 'Entrepreneurship',
       'Fixed Income Sales & Trading', 'physician, informaticist',
       'Professor, or Engineer', 'Not sure yet', 'playing music',
       'unknown', 'Consulting, later Arts or Non-Profit',
       'Professor; Human Rights Director', 'Work at the UN', 'physician',
       'Urban Planner', 'Clinic Trial', 'Finance/Economics', 'Planning',
       'English teacher', 'professional career', 'writer/teacher',
       'Medical Sciences', 'Professor...?', 'writer/producer',
       'Investment Banker', 'acadeic', 'politics', 'film and radio',
       'Film', 'researcher', 'biology industry', 'epidemiologist',
       'consultant', 'Writer/Editor', 'unsure', 'journalism',
       'Business Management and Information Technology', 'Actress',
       'teacher and performer', 'Writer/journalist', 'Acting',
       'School Leadership/Politics', 'Foreign Service',
       'Exec. Director of social service non-profit',
       'Assistant District Attorney', '??', 'physician/healthcare',
       'Sex Therapist', 'dont know yet', 'TEACHING', 'ASIC Engineer',
       'Academic/ Finance', 'software engr, network engr', 'Science',
       'self-made millionare', 'Academic Work, Consultant',
       'To go into Finance', 'Research Engineer', 'Doctor',
       'Private Equity - Leveraged Buy-Outs', 'Management',
       'General management/consulting',
       "assistant master of the universe (otherwise it's too much work)"],
      dtype=object)

In [ ]:
len(df['career'].unique())

In [72]:
df.shape

(8378, 15)

In [73]:
df.dtypes

gender      int64
age       float64
income    float64
goal      float64
career     object
dec         int64
attr      float64
sinc      float64
intel     float64
fun       float64
amb       float64
shar      float64
like      float64
prob      float64
met       float64
dtype: object

In [74]:
df.isnull().sum()

gender       0
age         95
income    4099
goal        79
career      89
dec          0
attr       202
sinc       277
intel      296
fun        350
amb        712
shar      1067
like       240
prob       309
met        375
dtype: int64

In [82]:
num_nan_rows = df[['gender', 'age', 'income', 'career']].isna().all(axis=1).sum()
num_nan_rows

0

In [84]:
df['id'] = df.set_index(['gender', 'age', 'income', 'career']).index.factorize()[0]+1
df

,gender,age,income,goal,career,dec,attr,sinc,intel,fun,amb,shar,like,prob,met,id
0,0,21.0,69487.0,2.0,lawyer,1,6.0,9.0,7.0,7.0,6.0,5.0,7.0,6.0,2.0,1
1,0,21.0,69487.0,2.0,lawyer,1,7.0,8.0,7.0,8.0,5.0,6.0,7.0,5.0,1.0,1
2,0,21.0,69487.0,2.0,lawyer,1,5.0,8.0,9.0,8.0,5.0,7.0,7.0,NaN,1.0,1
3,0,21.0,69487.0,2.0,lawyer,1,7.0,6.0,8.0,7.0,6.0,8.0,7.0,6.0,2.0,1
4,0,21.0,69487.0,2.0,lawyer,1,5.0,6.0,7.0,7.0,6.0,6.0,6.0,6.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,1,25.0,NaN,1.0,assistant master of the universe (otherwise it...,0,3.0,5.0,5.0,5.0,NaN,NaN,2.0,5.0,0.0,539
8374,1,25.0,NaN,1.0,assistant master of the universe (otherwise it...,0,4.0,6.0,8.0,4.0,4.0,NaN,4.0,4.0,0.0,539
8375,1,25.0,NaN,1.0,assistant master of the universe (otherwise it...,0,4.0,7.0,8.0,8.0,8.0,NaN,6.0,5.0,0.0,539
8376,1,25.0,NaN,1.0,assistant master of the universe (otherwise it...,0,4.0,6.0,5.0,4.0,NaN,5.0,5.0,5.0,0.0,539
8377,1,25.0,NaN,1.0,assistant master of the universe (otherwise it...,0,3.0,7.0,6.0,4.0,8.0,1.0,4.0,5.0,0.0,539

In [102]:
high_corrs = df.select_dtypes('number').corr() > 0.7
high_corrs
# no features seem to be highly correlated so no feature is excluded based on this criterion

,gender,age,income,goal,dec,attr,sinc,intel,fun,amb,shar,like,prob,met,id
gender,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
age,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
income,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
goal,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
dec,False,False,False,False,True,True,False,False,True,False,True,True,True,False,False
attr,False,False,False,False,True,True,True,True,True,True,True,True,False,False,False
sinc,False,False,False,False,False,True,True,True,True,True,True,True,True,False,False
intel,False,False,False,False,False,True,True,True,True,True,True,True,False,False,False
fun,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
amb,False,False,False,False,False,True,True,True,True,True,True,True,False,False,False
shar,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
like,False,False,False,False,True,True,True,True,True,True,True,True,True,False,False
prob,False,False,False,False,True,False,True,False,True,False,True,True,True,False,False
met,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
id,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [22]:
# dropping cols
# income -> too many missings
df_dropped = df.drop(columns=['income', 'goal', 'prob'])